@import url(https://fonts.googleapis.com/css?family=Lobster);
body {
  
  font-family:'Lobster', Times New Roman;
  background-color:black;
  color:white;
  
}

h1{
  font-size: 100px;
  margin-bottom:25px;
}